<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

<body>
  <main class="container">

    <%- include('partials/_header') %>

      <section id="profile_information">
        <h3> Your Profile</h3>

        <!-- Error display -->
        <% if(typeof error !="undefined" ){ %>
          <p class="font-weight-bold" style="margin-top: 10px; color: red">
            <%= error %>
          </p>
          <% } %>

            <!-- Update Profile Form -->
            <!-- Get the userID and populate the fields of the form accordingly -->
            <div class="container">
              <div class="title">Update information:</div>
              <div class="content">
                <form action="#">
                  <div class="user-details">
                    <div class="input-box">
                      <span class="details">First Name</span>
                      <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                      <span class="details">Last Name</span>
                      <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                      <span class="details">Email</span>
                      <input type="text" placeholder="Enter your email" required>
                    </div>
                    <!--
                    <div class="input-box">
                      <span class="details">Password</span>
                      <input type="password" placeholder="Enter your password" required>
                    </div>  -->
                  </div>
                  <div class="button">
                    <input type="submit" value="Update profile">
                  </div>
                </form>
              </div>
            </div>
            <!--
            <div id="profile_form">
              <form class="w-75 me-3 text" action="/api/users/profile/update" method="POST">
                <input type="text" class="form-control" name="firstName" value="<%= `${user.firstname}` %>" aria-label="firstName">
                <input type="text" class="form-control" name="lastName" value="<%= `${user.lastname}` %>" aria-label="lastName">
                <input type="email" class="form-control" name="email" value="<%= `${user.email}` %>" aria-label="Email">
                <button type="submit" class="btn btn-primary">Save Profile Changes</button>
              </form>
            </div>
              -->

      </section>

  </main>

    <%- include('partials/_foot') %>

</body>

</html>
