<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ResourSave</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"
    integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main class="container">

    <%- include('partials/_header') %>

      <div class="container myResViewContain">
        <div class="row justify-content-md-center">

          <div class="col col-lg-5 myResImg">
            <div class="bg-light border rounded-3 resourceSingle">
              <img class="resourceImg" src="<%= resource.photoUrl %>">
            </div>

            <!-- Only display the ability to like a resource if logged in -->
            <% if(typeof user !="undefined" ){ %>
              <div class="favourite">
                Add to favourites

                <!-- toggles the liked heart -->
                <%- (resource.resourceRating.liked === true) ? "<i class='bi bi-heart-fill'></i>": "<i class='bi bi-heart'></i>" %>

              </div>
              <hr class = "favourite-hr">
              <% } %>

                <div class="ratingIndividualView">
                  <%- ((Math.round(resource.averageRating * 100) / 100) >=0.5) ? "<i class='bi bi-star-fill'></i>": "<i class='bi bi-star'></i>" %>
                  <%- ((Math.round(resource.averageRating * 100) / 100) >=1.5) ? "<i class='bi bi-star-fill'></i>": "<i class='bi bi-star'></i>" %>
                  <%- ((Math.round(resource.averageRating * 100) / 100) >=2.5) ? "<i class='bi bi-star-fill'></i>": "<i class='bi bi-star'></i>" %>
                  <%- ((Math.round(resource.averageRating * 100) / 100) >=3.5) ? "<i class='bi bi-star-fill'></i>": "<i class='bi bi-star'></i>" %>
                  <%- ((Math.round(resource.averageRating * 100) / 100) >=4.5) ? "<i class='bi bi-star-fill'></i>": "<i class='bi bi-star'></i>" %>

                  <div class="ratingTotal"><%= resource.averageRating %> / 5</div>
                </div>
          </div>

          <div class="col-7 myResForm">

            <!-- View Only Resource -->
            <% if((typeof user==="undefined") || (resource.creatorId !== user.id) ){ %>
              <!-- Add to line above OR if the user is not the owner -->
              <div class="view-only-resource">
                <div class="mb-3">
                  <h3 class="title-name"><%= resource.title %></h3>
                  <h5 class="topic-names">Topic Names</h5>
                  <p class="resource-description"><%= resource.description %></p>

                  <div class="mb-2 url-input hstack gap-3">
                    <a href="#" class="url-no-edit"><%= resource.URL %></a>
                  </div>

                  <!-- Rating form if logged in, but not the resource owner -->
                  <% if(typeof user!="undefined" && (resource.ownerID !== user.id)){ %>

                    <form id="my-rating-form">
                      <div class="mb-2 url-input hstack gap-3">
                        <label for="my-resource-rating" class="form-label">Resource Rating</label>
                        <input type="number" id="my-resource-rating" min="1" max="5">
                      </div>
                    </form>
                    <% } %>
                </div>
              </div>
              <% } else { %>

                <!-- Display the edit resource view for resource owner -->
                <!-- Add/update URL form -->
                <form class="myResourceForm">
                  <div class="mb-3">
                    <label for="formTitleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="formTitleInput" placeholder="<%= resource.title %>">
                  </div>
                  <div class="mb-3">
                    <label for="formTopicInput" class="form-label">Topic</label>
                    <input type="text" class="form-control" id="formTopicInput" placeholder="<%= resource.topic %>">
                  </div>
                  <div class="mb-3">
                    <label for="formDescInput" class="form-label">Description</label>
                    <input type="text" class="form-control" id="formDescInput" placeholder="<%= resource.description %>">
                  </div>

                  <div class="mb-2 rating-input hstack gap-3">
                    <label for="my-resource-rating" class="form-label">Resource Rating</label>
                    <input type="number" id="my-resource-rating" min="1" max="5" value="<%= resource.resourceRating.rating %>">
                  </div>

                  <div class="mb-2 url-input hstack gap-3">
                    <input type="text" class="form-control" id="formURLInput" placeholder="<%= resource.resourceUrl %>">
                    <span class="url-input-btn">
                      <a href="<%= resource.resourceUrl %>"><i class="my-resource-url-arrow bi bi-arrow-up-right-square-fill" type="button"></i></a>
                    </span>
                  </div>

                  <button type="submit" class="btn btn-success">Save Resource</button>
                </form>
                <% } %>

                <!-- Error display -->
                <% if(typeof error !="undefined" ){ %>
                <p class="font-weight-bold" style="margin-top: 10px; color: red">
                  <%= error %>
                </p>
                <% } %>

                <%- include('partials/_comments') %>

          </div>

        </div>
      </div>
      </div>
      </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>
