<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

<body>
  <main class="container">

    <%- include('partials/_header') %>

      <div class="container myResViewContain">
        <div class="row justify-content-md-center contain-page-columns">

          <div class="col col-lg-5 myResImg">
            <div class="bg-light border rounded-3 resourceSingle">
              <img class="resourceImg" src="<%= resource.photo_url ? resource.photo_url : "/mockups/mockupResources/sharon-mccutcheon-tn57JI3CewI-unsplash.jpg" %>">
            </div>

            <!-- Only display the ability to like a resource if logged in -->
            <% if(typeof user !="undefined" ){ %>
              <div class="favourite">
                Add to favourites

                <!-- toggles the liked heart -->
                <i id = "likeHeartButton" class='bi
                  <%- (resource.resourceRating.like === true) ? " bi-heart-fill" : "bi-heart" %>'>
                  </i>

              </div>
              <hr class="favourite-hr">
              <% } %>

                <div class="ratingIndividualView">

                  <!-- Add the stars for the average overall rating -->
                  <% for (let i=0; i < 5; i++) { %>
                    <i class="bi
                <%= (resource.averageRating >= i+.5) ? 'bi-star-fill' : 'bi-star' %>"></i>
                    <% } %>

                    <!-- If there are ratings display average rating -->
                    <%if(resource.averageRating) {%>
                      <div class="ratingTotal">
                        <%= resource.averageRating %> / 5
                      </div>
                      <%} %>
                </div>
          </div>

          <div class="col-7 myResForm">

            <!-- View Only Resource -->
            <% if((resource.id) && ((typeof user === "undefined" ) || (resource.creatorId !== user.id))){ %>
              <!-- Add to line above OR if the user is not the owner -->
              <div class="view-only-resource">
                <div class="mb-3">
                  <h3 class="title-name">
                    <%= resource.title %>
                  </h3>
                  <h5 class="topic-names">Topic Names</h5>
                  <p class="resource-description">
                    <%= resource.description %>
                  </p>

                  <div class="mb-2 url-input hstack gap-3">
                    <a href="#" class="url-no-edit">
                      <%= resource.URL %>
                    </a>
                  </div>

                  <!-- Rating form if logged in, but not the resource owner -->
                  <% if(typeof user!="undefined" && (resource.ownerID !==user.id)){ %>

                    <form id="my-rating-form">
                      <div class="mb-2 url-input hstack gap-3">
                        <label for="my-resource-rating" class="form-label">Resource Rating</label>
                        <input type="number" id="my-resource-rating" min="1" max="5">
                      </div>
                    </form>
                    <% } %>
                </div>
              </div>

              <% } else { %>

                <!-- Display the edit resource view for resource owner -->
                <!-- Add/update URL form -->
                <form class="myResourceForm">
                  <div class="mb-3">
                    <label for="formTitleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="formTitleInput" value="<%= resource.title %>">
                  </div>
                  <div class="mb-3">
                    <label for="formTopicInput" class="form-label">Topic</label>
                    <input type="text" class="form-control" id="formTopicInput" value="<%= resource.topic %>">
                  </div>
                  <div class="mb-3">
                    <label for="formDescInput" class="form-label">Description</label>
                    <input type="text" class="form-control" id="formDescInput"
                    value="<%= resource.description %>">
                  </div>

                  <div class="mb-2 rating-input hstack gap-3">
                    <label for="my-resource-rating" class="form-label">Resource Rating</label>
                    <input type="number" id="my-resource-rating" min="1" max="5"
                      value="<%= resource.resourceRating.rating %>">
                  </div>

                  <div class="mb-2 url-input hstack gap-3">
                    <input type="text" class="form-control" id="formURLInput" value="<%= resource.resourceUrl %>">
                    <span class="url-input-btn">
                      <a href="<%= resource.resourceUrl %>"><i
                          class="my-resource-url-arrow bi bi-arrow-up-right-square-fill" type="button"></i></a>
                    </span>
                  </div>

                  <button type="submit" class="btn btn-success">Save Resource</button>
                </form>
                <% } %>

                  <!-- Error display -->
                  <% if(typeof error !="undefined" ){ %>
                    <p class="font-weight-bold" style="margin-top: 10px; color: red">
                      <%= error %>
                    </p>
                    <% } %>

                      <%- include('partials/_comments') %>

          </div>

        </div>
      </div>
      </div>
      </div>
  </main>

    <%- include('partials/_foot') %>

</body>

</html>
