<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

<body>
  <main class="container">

    <%- include('partials/_header') %>

      <%- include('partials/_search-bar') %>

        <!-- Resources Search Results -->
        <div class="container pb-3 resourceWall">
          <div class="d-grid gap-3" style="grid-template-columns: 1fr 1fr 1fr;">

            <% for (const resource of resources) { %>

              <div class="bg-light border rounded-3 resourceSingle">
                <div class="image">

                  <div class="overlay">
                    <a href="<%= resource.resource_url %>"><i
                        class="bi bi-arrow-up-right-square-fill go-to-url-wall"></i></a>
                    <%- (resource.like===true) ? "<i class='bi bi-heart-fill is-favourite'></i>"
                      : "<i class='bi bi-heart is-favourite'></i>" %>
                  </div>

                  <img class="resourceImg" src="<%= resource.photo_url %>">
                </div>
                <div class='resInfo'>
                  <div>
                    <%= resource.title %>
                  </div>
                  <div class="rating">

                    <!-- Check if the user has rated a resource and use that, otherwise default to the average rating -->
                    <% let rating=resource.rating ? resource.rating :
                      resource.avg_rating; %>

                      <% for (let i=0; i < 5; i++) { %>
                        <i class="bi
                      <%= rating >= i+.5 ? 'bi-star-fill' : 'bi-star' %>
                      <%= resource.rating ? 'text-warning' : '' %>"></i>
                        <% } %>

                  </div>
                </div>
              </div>

              <% } %>
          </div>

  </main>

    <%- include('partials/_foot') %>

</body>

</html>
